@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
.sm-underline {
	background-color: #3399cc;
	width: 15%;
	height: 2px;
	margin: 0.5em auto 1em;
}
.underline {
	background-color: #3399cc;
	width: 15%;
	height: 2px;
	margin: 1em auto 5em;
}
.sm-sub-title {
	text-align: center;
	color: #212121;
	font-size: 1.5rem;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 500;
}
.sub-title {
	text-align: center;
	color: #212121;
	font-size: 3rem;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 500;
}
.input-form {
	margin: 0.5rem 0;
	width: 100%;
	border: 2px solid #dbdbdb;
	color: #999999;
	padding: 0.5rem;
}
.contact-icons {
	color: #337ab7;
}
.fb-container:hover {
	background-color: #3b5998;
}
.fb-container:hover .fb,
.rss-container:hover .rss,
.tmblr-container:hover .tmblr {
	color: #fff;
}
.rss-container:hover {
	background-color: #f26522;
}
.tmblr-container:hover {
	background-color: #35465c;
}
.fb {
	color: #3b5998;
}
.rss {
	color: #f26522;
}
.tmblr {
	color: #35465c;
}
.profile:hover .social-bar {
	display: flex;
}

.active {
	background-color: #ffc229;
	border-color: #edb62b;
	color: #fff;
}

.leaflet-container {
	height: 80vh;
	width: 50vw;
}

.modal-num::-webkit-inner-spin-button,
.modal-num::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
